.formresponse {
  width: 100%
}

.formresponse-textarea {
  font: inherit
  height: 6rem
  width: 100%
  height: 100%
  background: #363636
  border: none
  border-top: 1px solid #505050
  color: #fff
  box-sizing: border-box
  //box-sizing content-box
  font-size: 14px
  line-height: 14px
  outline: none
  padding: 24px 6rem
  color: inherit
  resize: none
  overflow: hidden

}

.formresponse-sendButton {
  position: absolute
  right: 12px
  bottom: 12px
}

.formresponse-sendButtonLeft {
  position: absolute
  left: 12px
  bottom: 12px
}