.chatnavigate {
  width: 280px;
  height: 100%;
  background: var(--secondary-bg-color);
  color: var(--ghost-color);
  &-nav {
    display: flex;
  }
  &-place {
    display: flex;
    flex-grow: 2;
    overflow: auto;
  }
}