.form {
    box-sizing: border-box;
    padding: 1.2rem;
    border-radius: 1.2rem;
    width: 320px;


    &_themeLogin {
        background: var(--secondary-bg-color);
        margin-top: 32px;
    }

    &-section {
        padding: 24px;
    }

    &-label {
        display: flex;
        flex-direction: column;
        margin-top: 1.2rem;
        font-size: 1.2rem;
    }

    &-input {
        margin-top: .8rem;
    }

    &-input:focus {
        box-shadow: 0 0 0 1px var(--focus-border-color);
    }

    &-textErorr {
        font-size: 1rem;
        color: var(--error-color);
        margin-top: .8rem;
        display: none;
    }

}