.modalwindow {
  display block
  z-index 110
  top 40px
  background var(--secondary-bg-color)
  min-width 320px
  min-height 280px
  border none
  border-radius 6px
  padding: 0
  &-header {
    padding-left 12px
    display flex
    box-sizing border-box
    justify-content space-between
    align-items center
  }
  &-overflow {
    z-index 100
    position absolute
    display block
    left: 0
    right: 0
    bottom: 0
    top: 0
    background rgba(0,0,0, .5)
  }

}