{% if title %}
<span class="input-title">{{ title }}</span>
{% endif %}

{% if image %}
<div class="avatar avatar_large">
    {% if avatar %}
    <img src="https://ya-praktikum.tech/{{ avatar }}" alt="">
    {% else %}
    <div class="avatar-clear caption">
        нет изображения
    </div>
    {% endif %}
    <input class="avatar-input" type="file" name="{{ name }}">
    <span class="form-textErorr" style="display: none;">{{error}}</span>
</div>
{% else %}
<input class="inputText form-input" autocomplete="off" type="{{ type }}" value="{{ value }}"  placeholder="{{ placeholder }}" name="{{ name }}" >
<span class="form-textErorr" style="display: none;">{{error}}</span>
{% endif %}





