{% if title %}
{{ title }}
{% endif %}

{% if avatar %}
<div class="avatar avatar_large">
    <img src="https://ya-praktikum.tech/{{ avatar }}" alt="">
    <input class="avatar-input" type="file" name="{{ name }}" >
    <span class="form-textErorr" style="display: none;">{{error}}</span>
</div>
{% else %}
<input class="inputText form-input" type="{{ type }}" value="{{ value }}"  placeholder="{{ placeholder }}" name="{{ name }}" >
<span class="form-textErorr" style="display: none;">{{error}}</span>
{% endif %}





