.button {
    font-size: 1.4em
    text-align: center
    line-height: 1.2
    font-family: inherit
    margin: 0
    text-transform: none
    padding: 0 12px
    color: var(--secondary-color)
    background: var(--secondary-bg-color)
    border-radius: 4px
    border: none
    display: flex
    align-items: center
    height: 3.6rem
    outline: none
    justify-content: center
    cursor: pointer
    text-decoration: none

    &_primary {
        background: var(--primary-bg-color);
        color: var(--primary-color);
    }

    &_success {
        background: var(--success-bg-color);
        color: var(--success-color);
    }

    &_danger {
        background: var(--defoult-bg-color);
        color: var(--error-color);
    }

    &_ghost {
        background: var(--ghost-bg-color);
        color: var(--ghost-color);
    }

    &_iconLeft {
        padding-left: 3.6rem;
    }

    &-icon {
        /*  */
    }

    &-icon_positionLeft {
        margin-right: .4rem;
    }

    &_square {
        width: 3.6rem;
        padding: 0;
    }
    
    &_margin-top-bottom {
        margin-top: 2.4rem;
        margin-bottom: 1.2rem;
    }

}

