
::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar-thumb {
    background-color: #2e2d2d
}

body {
    margin: 0
    padding: 0
    height: 100vh
    background: var(--defoult-bg-color)
    color: var(--defoult-color)
}

.main {
    width: 100%
    height: 100%
    background: var(--defoult-bg-color)
    color: var(--defoult-color)
    margin: 0
    padding: 0
    box-sizing: border-box
    overflow: auto
}

.splitter {
    height: 1px
    left: 0
    right: 0
    background:var(--defoult-border-color)
    border-radius: 2px
}

fieldset {
    padding: 0.35em 0.75em 0.625em
}

.link {
    color: inherit
    font-size: 1.6rem
}

.padding
    for size in (1..10)
        &_s-{size} {
            padding: 4px * size
        }
        &-tb_s-{size} {
            padding-top: 4px * size
            padding-bottom: 4px * size
        }





.block-secondary {
        background: var(--secondary-bg-color);
        margin-top: 32px;
}

